<tr>
      <td><%= sow.description %></td>
      <td><%= link_to 'Show', sow %></td>
      <td><%= link_to 'Edit', edit_sow_path(sow) %></td>
      <td><%= link_to 'Destroy', sow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>