<div class="row">
	<div class="span6 offset3">
		<div class="well">
 			<p>
			  <b>Description:</b>
			  <%= @sow.description %>
			</p>


			<%= link_to 'Edit', edit_sow_path(@sow) %> |
			<%= link_to 'Back', sows_path %>
		</div>
	</div>
</div>